<%- include ('../partials/header') %>
    <title>Title</title>
</head>
<body>
    <%- include ('../partials/navbar') %>

    <div class="container">
        <div class="row my-3">
            <div class="col-md-8 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><%= post.title %></h5>
                        <div class="d-flex justify-content-between pt-3">
                            <p class="text-muted">Posted by: <em><%= post.author%></em></p>
                            <p class="text-muted">Date: <%= new Date(post.createdAt).toDateString()%></p>
                        </div>
                        <p class="card-text">
                            <%= post.description%>
                        </p>
                        <p class="text-muted mr-5">Comments</p>
                    </div>
                    </div>
            </div>
        </div>
    </div>
        
    <%- include ('../partials/footer') %>
   